@font-face {
    font-family: "JetBrains Mono";
    src: url(../fonts/JetBrainsMono-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

:root {
    --white: #F2FBFE;
    --sky-blue: #87CEEB;
    --red: #EC6D5E;
    --light-shade-blue: #A77FF7;
    --btn-hover: #f6fcfe;
    --red-hover: #f4aca4;
    --blue-hover: #ceb7fa;
    --btn-active: #88dbf6;
    --red-active: #e74432;
    --blue-active: #8c57f4;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.red {
    background-color: var(--red);
}

.red:hover{
    background-color: var(--red-hover);
}

.red:active {
    background-color: var(--red-active);
}

.blue {
    background-color: var(--light-shade-blue);
}

.blue:hover {
    background-color: var(--blue-hover);
}

.blue:active {
    background-color: var(--blue-active);
}

.calculator {
    max-width: 450px;
    min-height: 650px;
    background-color: var(--sky-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    padding: 3vh;
    gap: 2vh;
    margin: auto 0;
}

.screen {
    width: 375px;
    min-height: 135px;
    padding: 1vh;
    background-color: var(--white);
    border: 5px solid black;
    border-radius: 12px;
}

.top-screen {
    min-height: 47.25px;
    text-align: right;
    font-size: 30px;
}

.main-screen {
    min-height: 60px;
    text-align: right;
    font-size: 40px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 384px;
    justify-content: space-evenly;
    gap: 1vh;
}

.top-button {
    width: 183px;
}

button {
    width: 82px;
    height: 77px;
    border: 5px solid black;
    border-radius: 12px;
    font-size: 36px;
}

button:hover {
    cursor: pointer;
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}

footer {
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 1vh;
}