@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #F2FBFE;
    --sky-blue: #87CEEB;
    --red: #EC6D5E;
    --light-shade-blue: #A77FF7;
}

html,
body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.calculator {
    width: 450px;
    height: 650px;
    background-color: var(--sky-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    padding: 3vh 0;
}

.screen {
    width: 375px;
    height: 135px;
    background-color: var(--white);
    border: 5px solid black;
    border-radius: 12px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 384px;
    justify-content: space-evenly;
    gap: 1vh;
}

.top-button {
    width: 183px;
}

button {
    width: 82px;
    height: 77px;
    border: 5px solid black;
    border-radius: 12px;
}